<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About AASTU</title>
</head>

<body>
	<h1>Addis Ababa Science and Technology University</h1>
	<p><b>Addis Ababa Science and Technology University</b>(Amahric: ), or <abbr
			title="Addis Ababa Science and Technology University">AASTU</abbr>, is an Ethiopian
		higher institute in Addis Ababa, Ethiopia. The main campus is located in the Akaky Kaliti subcity, kilinto area.
	</p>
</body>

</html>