<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Life Hacks Image Map</title>
</head>

<body>
    <table width="100%">
        <tr>
            <td width="10%"></td>
            <td>
                <img src="images/logo_gold.png" alt="life hacks logo" height="70" />
            </td>
            <td align="right">
                <a href="">Podocast</a> | <a href="">Articles</a> |
                <a href="">Ideas</a> | <a href="">About Us</a> |
                <a href="">Contact Us</a>
            </td>
            <td width="10%"></td>
        </tr>
    </table>
    <hr />
    <table width="100%">
        <tr>
            <td width="10%"></td>
            <td colspan="2">
                <h1>Image Map</h1>
                <p>Click lower left corner, the bag or head of the man to get more images.</p>
                <img src="images/banners/life1.jpg" alt="man watching sunset" usemap="#image-map" width="100%" />

                <map name="image-map">
                    <area href="https://en.wikipedia.org/wiki/Mountain" coords="18,266,676,571" shape="rect" title="mountain view">
                    <area href="https://en.wikipedia.org/wiki/Human_head" coords="951,217,52" shape="circle" title="human head">
                    <area href="https://en.wikipedia.org/wiki/Backpack" title="backbag"
                        coords="1050,256,1023,275,1012,325,1011,381,1017,464,1052,474,1093,454,1102,327,1082,285,1064,262,1059,259" shape="poly">
                </map>
            </td>
            <td width="10%"></td>
        </tr>
        <tr>
            <td width="10%"></td>
            <td colspan="2">
                <hr />
            </td>
            <td width="10%"></td>
        </tr>
        <tr>
            <td width="10%"></td>
            <td>Follow Us On: <a href="">Facebook</a></td>
            <td align="right">
                <a href="">Privacy</a> | <a href="">Term of Use</a>
            </td>
            <td width="10%"></td>
        </tr>
        <tr>
            <td width="10%"></td>
            <td colspan="2" align="center">
                Copyright &copy; AASTU SEng 2021, All Rights Reserved
            </td>
            <td width="10%"></td>
        </tr>
    </table>
</body>

</html>